<h3>Tu carrito</h3>

{{#if products.length}}
<section class="container d-flex flex-wrap justify-content-center gap-5" id="main_container">
  {{#each products}}
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">{{product.title}}</div>
    <div class="card-body">
      <p class="card-text">{{product.description}}</p>
      <p class="card-text"><small class="text-muted">
          <botton class="btn btn-outline-warning" onclick="deleteOne('{{cart}}','{{product._id}}','{{product}}')">-
          </botton> <button type="button" class="btn btn-warning" disabled>{{quantity}}</button>
          <botton class="btn btn-outline-warning" onclick="addProductToCart('{{cart}}','{{product._id}}','{{product}}')">
            +</botton>
        </small></p>
    </div>
    <div>
    </div>
    {{/each}}
    <h2> TOTAL: ${{subtotal}}</h2>
    <button class="btn btn-outline-warning" data-product-id="{{product._id}}" onclick="deleteAll('{{cart}}')">Vaciar
      carrito</button>
    <a href="#" onclick="location.href='/api/carts/{{cart}}/purchase'" class="sessionButton">
      <button class="btn btn-outline-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#Side_carrito"
        aria-controls="offcanvasRight">COMPRAR</button>
    </a>
</section>
{{else}}
<div class="container text-center">
  <b>No se encontraron productos en tu carrito.</b>
</div>
{{/if}}

<script src="../public/js/cart.js"></script>